<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <section>
         <header >
          <nav class="navbar navbar-expand-lg bg-body-tertiary mb-2">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><strong>PlatePlanner</strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/recipes">Recipes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/add_recipe">Manual Add</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" href="/ai_recipe_add">AI Add</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" href="/shopping_list">Shopping List</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link active" href="/settings">Settings</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
            <div class=" text-center mt-5 mx-auto" style="width:40em">
                <h1>Settings</h1>
            </div>
        </header>
    </section>
    <section>
        
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="card text-center mt-3 pt-4">
                        <form method="POST" enctype="multipart/form-data" id="ai_form">
                        <div class="mb-3 mx-auto" style="width:20em">
                                <label for="photo" class="form-label">Select a photo to analyze with AI.</label>
                                <input type="file" required class="form-control" id="ai_photo" name="image">
                            </div>
                            <div class="spinner-border text-info" id="spinner" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="alert alert-danger w-50 mx-auto" id="submitError"></div>
                            <div class="alert alert-success w-50 mx-auto" id="submitSuccess"></div>
                        </form>
                        <p><button onclick="submitToAi()" id="ai_submit_button" class="btn btn-primary">Submit</button></p>
                    </div>
                </div>
            </div>
            <div class="row">
                
            </div>
            <div class="row">
               
                <div class="col col-12 col-md-6">
                     <div class=" mt-3 alert alert-primary text-center small">
                        <p>This information will populate once you submit an image of a recipe!</p>
                    </div>
                    <div class="card text-center mt-1 mx-auto" >
                        <h1 id="recipe_name_h1" class="mb-3 mt-3"></h1>
                        <div class="mb-3">
                            <h3>Ingredients</h3>
                            <ul id="ingredients_list" class="list-group">
                                <li class="list-group-item">No ingredients yet</li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <h3>Instructions</h3>
                            <ul id="instructions_list" class="list-group">
                                <li class="list-group-item">No instructions yet</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6">
                    <div class=" mt-3 alert alert-primary text-center small">
                        <p>Double check the info that AI grabbed and add extra details to make this recipe easy to find!</p>
                    </div>
                    <div class="card mt-1">
                        <div class="accordion" id="accordionExample">
                            <!-- FIRST ITEM -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" 
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne" 
                                        aria-expanded="false" aria-controls="collapseOne">
                                    Identified Content
                                    
                                </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>These are the details detected in the image you uploaded.</strong> <br>
                                    <small>Make changes if you want to adjust any of the strored values.</small>
                                    <form id="recipe_details">
                                    <div class="mb-3 mt-3 mx-auto text-center" >
                                        <label class="form-label" for="recipe_name">Recipe Name</label>
                                        <input type="text" class="form-control w-100" name="recipe_name" id="recipe_name">
                                    </div>
                                    <div class="mb-3 mt-3 mx-auto text-center" >
                                        <label class="form-label" for="recipe_location">Recipe Location</label>
                                        <input type="text" class="form-control w-100" name="where" id="recipe_location">
                                    </div>
                                    <div class="mb-3 mx-auto text-center">
                                        <label class="form-label" for="ingredients">Ingredients</label>
                                        <textarea class="form-control w-100" style="height:10em;" 
                                                name="ingredients" id="ingredients" aria-describedby="ingredients-help"></textarea>
                                        <div id="ingredients-help" class="form-text">Ingredients detected from supplied recipe image.</div>
                                    </div>
                                    <div class="mb-3 mx-auto text-center" >
                                        <label class="form-label" for="recipe_photo">Photo</label>
                                        <input type="file" class="form-control w-100" name="recipe_photo" id="recipe_photo">
                                    </div>
                                    </form> <!-- FORM 1 CLOSED -->
                                </div> <!-- ACCORDION-BODY 1 CLOSED -->
                                </div> <!-- COLLAPSE 1 CLOSED -->
                            </div> <!-- ITEM 1 CLOSED -->

                            <!-- SECOND ITEM -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" 
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" 
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    Additional Details
                                </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Add additional details that may not have been detected by the AI agent.</strong> 
                                    <form id="additional_details"> <!-- UNIQUE FORM ID -->
                                    
                                    <div class="mb-3 mx-auto text-center">
                                        <label class="form-label" for="instructions">Instructions</label>
                                        <textarea class="form-control w-100" style="height:10em; width:20em" 
                                                name="instructions" id="instructions" aria-describedby="instructions-help"></textarea>
                                        <div id="instructions-help" class="form-text">instructions from the recipe</div>
                                    </div>
                                    <div class="mb-3 mx-auto text-center">
                                        <label class="form-label" for="description">Description (100 chars)</label>
                                        <textarea class="form-control w-100" style="height:10em; width:20em" 
                                                name="description" id="description" aria-describedby="description-help"></textarea>
                                        <div id="description-help" class="form-text">Description of the recipe</div>
                                    </div>
                                    <div class="mb-3 mx-auto text-center" >
                                        <label class="form-label" for="page_number">Page Number?</label>
                                        <input type="text" class="form-control w-100" name="page_number" id="page_number">
                                    </div>
                                    <div class="mb-3 mx-auto text-center" >
                                        <label for="difficulty_range" class="form-label">Difficulty</label>
                                        <input type="range" class="form-range w-100" step="1" min="0" max="2" value="0" id="difficulty_range">
                                        <output for="difficulty_range" id="rangeValue"></output>
                                    </div>
                                    <div class="mb-3 mx-auto text-center" >
                                        <label class="form-label" for="category_selector">Category</label>
                                        <select class="form-control" id="category_selector" >
                                            <option>Dinner</option>
                                            <option>Dessert</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 mx-auto text-center" >
                                        <label class="form-label" for="tags">Tags</label>
                                        <input type="text" class="form-control w-100" name="tags" id="tags">
                                    </div>
                                    
                                    </form> <!-- FORM 2 CLOSED -->
                                </div> <!-- ACCORDION-BODY 2 CLOSED -->
                                </div> <!-- COLLAPSE 2 CLOSED -->
                            </div> <!-- ITEM 2 CLOSED -->
                            <div class=" text-center mt-3">
                                <div class="alert invisible" role="alert" id="alert_field"></div>
                                <p><button id="save_button" class="btn btn-primary pt-1" onclick='save_recipe()'>Save Recipe</button></p>
                            </div>
                            </div> <!-- ACCORDION CLOSED -->

                        
                    </div>
                </div>
            </div>
            
        </div>
        
    </section>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>

        const alert_field = document.getElementById("alert_field");
        const ai_form = document.getElementById("ai_form");
        const ai_photo = document.getElementById("ai_photo");
        const page_number = document.getElementById("page_number");
        const instructions = document.getElementById("instructions");
        const ingredients = document.getElementById("ingredients")
        const description = document.getElementById("description");
        ingredients.addEventListener("change", function(){checkRequired();setFieldColour(ingredients)})
        const name_field = document.getElementById("recipe_name")
        name_field.addEventListener("change", function(){checkRequired(),setFieldColour(name_field)})
        const recipe_location = document.getElementById("recipe_location")
        recipe_location.addEventListener("change", function(){checkRequired(),setFieldColour(recipe_location)})
        recipe_name_header = document.getElementById("recipe_name_h1")
        const recipe_photo = document.getElementById("recipe_photo");
        const rangeInput = document.getElementById('difficulty_range');
        const rangeOutput = document.getElementById('rangeValue');
        const catergorySelector = document.getElementById('category_selector')
        const tags = document.getElementById("tags")

        const spinner_div = document.getElementById('spinner');
        const save_button = document.getElementById('save_button')
        const errorBox = document.getElementById("submitError")
        const successBox = document.getElementById("submitSuccess");
        const ai_submit_button = document.getElementById("ai_submit_button")

        ai_photo.addEventListener("change", function(){ai_submit_button.disabled=false;})
        
        save_button.disabled = true;
        spinner_div.hidden = true;
        errorBox.hidden = true;
        successBox.hidden = true;

        rangeOutput.textContent = "Easy";
        let difficulty_text = "Easy"
        rangeInput.addEventListener('input', function() {
            if (this.value == 0){
                difficulty_text = "Easy"
            }
            if (this.value == 1){
                difficulty_text = "Medium"
            }
            if (this.value == 2){
                difficulty_text = "Hard"
            }
            rangeOutput.textContent = difficulty_text;
        });

        function setFieldColour(field){
            if(field.value != ""){
                field.classList.add("bg-success-subtle")
            } else if (field.value == ""){
                if (field.classList.contains("bg-success-subtle")){
                    field.classList.remove("bg-success-subtle")
                }
            }
        }
        function checkRequired(){
            if (name_field.value != "" & recipe_location.value != "" & ingredients.value != ""){
                save_button.disabled = false;
            }
            else{
                save_button.disabled = true;
            }
        }
        async function submitToAi(){
            const formData = new FormData(ai_form)
            spinner_div.hidden = false;
            errorBox.hidden = true;
            successBox.hidden = true;
            ai_submit_button.disabled = true;
            let ingredients_list_items = ""
            let instructions_list_items = ""
            const response = await fetch("/analyze-recipe", {
            method: 'POST',
            body: formData,
            });
            const data = await response.json();
            console.log(data)
            if (data.ok == 'false'){
                //issue with image submitted (likely no image submitted) show error
                spinner_div.hidden = true
                errorBox.hidden = false;
                errorBox.innerHTML = (data.errorText);
                
            }
            else {
                console.log(data.recipe['error'])
                spinner_div.hidden = true;

                if (errorBox.hidden == false){
                    errorBox.hidden = true;
                }
                successBox.hidden = false;
                successBox.innerHTML = (data.successText);
                //console.log('Raw API response:', data);
                const recipe = JSON.parse(data.recipe)
                console.log(recipe)

                name_field.value = recipe.recipe_name
                if (recipe.recipe_name != ""){
                    name_field.classList.add("bg-success-subtle")
                }
                ingredients.value = recipe.ingredients
                if (ingredients.value != ""){
                    ingredients.classList.add("bg-success-subtle")
                }
                instructions.value = recipe.instructions

                recipe.ingredients.forEach(element => {
                    ingredients_list_items += "<li class='list-group-item'>"+element+"</li>"
                });

                page_number.value = recipe.page_number;
                tags.value = recipe.tags;
                description.value = recipe.description;
                ingredients_list.innerHTML = ingredients_list_items

                recipe.instructions.forEach(element => {
                    instructions_list_items += "<li class='list-group-item'>"+element+"</li>"
                });

                instructions_list.innerHTML = instructions_list_items

                recipe_name_header.innerHTML = recipe.recipe_name
                ai_submit_button.disabled = false;
                checkRequired()
            }
        }

        async function save_recipe(){
            toggleErrorAlert("off")
            const formData = new FormData();
            
            formData.append("saveType", "new");
            formData.append("recipe_name", name_field.value);
            formData.append("recipe_location", recipe_location.value);
            formData.append("page_number", page_number.value);
            formData.append("instructions", instructions.value);
            formData.append("description", description.value);
            formData.append("ingredients", ingredients.value);
            formData.append("difficulty", difficulty_text);
            formData.append("recipe_photo", recipe_photo.files[0]);
            categoryName = catergorySelector.value.toLowerCase()
            formData.append("category",categoryName)
            formData.append("tags", tags.value);
            
            console.log(formData)
            const response = await fetch("/save_ai_recipe", {
                method: 'POST',
                body: formData
            })

            const insert_response = await response.json();
            if (insert_response.ok){
               
                alert_field.innerHTML = insert_response.success
                toggleSuccessAlert("on")
                console.log("recipe saved successfully")
            }
            else {
                alert_field.innerHTML = insert_response.error
                toggleErrorAlert("on")
            }
        }

        function toggleErrorAlert(state){
                if (state == "on"){
                    if (alert_field.classList.contains("alert-success")){
                        alert_field.classList.remove("alert-success") 
                    }
                alert_field.classList.add("alert-danger")
                alert_field.classList.remove("invisible")
                alert_field.classList.add("visible")
            }
            else {
                alert_field.classList.remove("visible")
                alert_field.classList.add("invisible")
            }
        }
        function toggleSuccessAlert(state){
                if (state == "on"){
                    if (alert_field.classList.contains("alert-danger")){
                        alert_field.classList.remove("alert-danger")
                    }
                alert_field.classList.add("alert-success")
                alert_field.classList.remove("invisible")
                alert_field.classList.add("visible")
            }
            else {
                alert_field.classList.remove("visible")
                alert_field.classList.add("invisible")
            }
        }
    </script>
    </body>
</html>